<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>calapena luis</title>
</head>
<body>
<h1>MENU TP2</h1>

<ul>
    <li><a href="/calculoEdad?fecha=2006-02-16">Calcular edad</a></li>
    <li><a href="/mostrarAlumnos">Mostrar listado de alumnos</a></li>
	<li><a href="/InversaCadena?inverso=Hola mundo">Mostrar inversa de una cadena</a></li>
	<li><a href="/InversaEnteros?num1=1&num2=2&num3=3&num4=4&num5=5&num6=6&num7=7&num8=8&num9=9&num10=10">Mostrar inversa de un  arreglo de enteros</a></li>
	<li><a href="/formatearFechaPage?fecha1=1978-08-26&fecha2=1988-09-28">Mostrar fechas en formato dd/MM/yyyy</a></li>
    <li><a href="/compararFechasPage?fecha1=1988-09-29&fecha2=1988-09-28">Comparar fechas</a></li>
    <li><a href="/procesoFechaB1?">Mostrar valor de cada fecha</a></li>
	<li><a href="/procesoFechaB2?">Incrementar Hora1 y decrementar Hora2</a></li>
    <li><a href="/compararFechasPage?fecha1=1988-09-29&fecha2=1988-09-28">Comparar fechas</a></li>
    <li><a href="/procesoFechaB3?">Mostrar valor de cada variable</a></li>
    <li><a href="/procesoFechaB4?">Mostrar tiempo transcurrido entre fecha de cumpleaños y actualidad</a></li>
	<li><a href="/procesoFechaB5?fecha1=26/12/2003&fecha2=31/05/2022">Incrementar 365 dias a la fecha1 y 6 meses a la fecha2</a></li>
	<li><a href="/punto03?">Mostrar datos del alumno registrado</a></li>
	<li><a href="/mostrarParImpar?">Mostrar pares e impares</a></li>
</ul>

</body>
</html>